<div class="pt-5 game-content"
  [ngSwitch]="slideShowData.page">
  <nw-slide-home *ngSwitchCase="SlidePageEnum.Home"></nw-slide-home>
  <nw-slide-play *ngSwitchCase="SlidePageEnum.Play"></nw-slide-play>
  <nw-slide-help *ngSwitchCase="SlidePageEnum.Help"></nw-slide-help>
  <nw-slide-stars *ngSwitchCase="SlidePageEnum.Stars"></nw-slide-stars>
  <nw-slide-settings *ngSwitchCase="SlidePageEnum.Settings"></nw-slide-settings>
</div>
<nw-slide-pop-gameover *ngIf="slideShowData.pop.gameover"></nw-slide-pop-gameover>