@mixin theme ($light,
  $lighter,
  $lightest,
  $light-special-1,
  $light-special-2,
  $dark,
  $darker,
  $darkest,
  $blue,
  $red,
  $gray,
  $grayer,
  $grayest,
  $item-1,
  $item-2,
  $item-3,
  $item-4,
  $item-5,
  $item-6,
  $item-7,
  $item-8,
  $item-9,
) {
  $colors: ('light': $light,
      'lighter': $lighter,
      'lightest': $lightest,
      'light-special-1': $light-special-1,
      'light-special-2': $light-special-2,
      'dark': $dark,
      'darker': $darker,
      'darkest': $darkest,
      'blue': $blue,
      'red': $red,
      'gray': $gray,
      'grayer': $grayer,
      'grayest': $grayest,
    );

  // Backgrounds
  // bg-light
  @each $colorName,
  $color in $colors {
    .bg-#{$colorName} {
      background-color: $color;
    }
  }

  // Colors
  // color-red
  @each $colorName,
  $color in $colors {
    .color-#{$colorName} {
      color: $color;
    }
  }

  // Borders
  // border-dark-1

  @each $colorName,
  $color in $colors {
    @for $i from 1 through 4 {
      .border-#{$colorName}-#{$i} {
        border: $i * 1px solid $color;
      }
      .border-top-#{$colorName}-#{$i} {
        border-top: $i * 1px solid $color;
      }
      .border-right-#{$colorName}-#{$i} {
        border-right: $i * 1px solid $color;
      }
      .border-bottom-#{$colorName}-#{$i} {
        border-bottom: $i * 1px solid $color;
      }
      .border-left-#{$colorName}-#{$i} {
        border-left: $i * 1px solid $color;
      }
    }
    .border-#{$colorName} {
      border-color: $color;
    }
    .border-top-#{$colorName} {
      border-top-color: $color;
    }
    .border-right-#{$colorName} {
      border-right-color: $color;
    }
    .border-bottom-#{$colorName} {
      border-bottom-color: $color;
    }
    .border-left-#{$colorName} {
      border-left-color: $color;
    }
  }

  .guess-play {
    .result-con {
      border: 1px solid $grayer;
      border-bottom-color: $grayest;

      .result-item {
        border: 1px solid $light;

        .result-item-con {
          .result-result {
            color: $blue;

            span {
              color: $red;
            }
          }
        }
      }
    }

    .input-con {
      border: 1px solid $grayer;

      .value-box {
        background: $light-special-2;
      }

      .value-tools-con {

        .tool-item {
          &:active {
            background: $light-special-1;
          }
        }
      }
    }

    .num-con {
      border: 1px solid $grayer;
      border-top-color: $grayest;
      border-bottom-color: $grayest;

      .num-item {
        border: 1px solid $light;

        &:active {
          background: $light-special-1;
        }
      }
    }

    .tools-con {
      border: 1px solid $grayer;

      .tool-item {
        &:active {
          background: $light-special-1;
        }
      }
    }
  }

  .slide-play {
    .shift-content {
      border: 1px solid $grayer;
      .num-content {
        .item-content {
          .slide-item {
            &.in-not-content {
              .slide-item-box {
                border: 1px solid $gray;
              }
            }
            &.is-destroying {
              .slide-item-box {
                color: $red;
                border: 1px solid $red;
              }
            }
            .slide-item-box {
              border: 1px solid $gray;
              color: $dark;
              $color-opacity: 0.6;
              &.slide-item-1 {
                background-color: rgba($item-1, $color-opacity);
                color: mix($item-1, $darkest);
                border-color: mix($item-1, $dark);
              }
              &.slide-item-2 {
                background-color: rgba($item-2, $color-opacity);
                color: mix($item-2, $darkest);
                border-color: mix($item-2, $dark);
              }
              &.slide-item-3 {
                background-color: rgba($item-3, $color-opacity);
                color: mix($item-3, $darkest);
                border-color: mix($item-3, $dark);
              }
              &.slide-item-4 {
                background-color: rgba($item-4, $color-opacity);
                color: mix($item-4, $darkest);
                border-color: mix($item-4, $dark);
              }
              &.slide-item-5 {
                background-color: rgba($item-5, $color-opacity);
                color: mix($item-5, $darkest);
                border-color: mix($item-5, $dark);
              }
              &.slide-item-6 {
                background-color: rgba($item-6, $color-opacity);
                color: mix($item-6, $darkest);
                border-color: mix($item-6, $dark);
              }
              &.slide-item-7 {
                background-color: rgba($item-7, $color-opacity);
                color: mix($item-7, $darkest);
                border-color: mix($item-7, $dark);
              }
              &.slide-item-8 {
                background-color: rgba($item-8, $color-opacity);
                color: mix($item-8, $darkest);
                border-color: mix($item-8, $dark);
              }
              &.slide-item-9 {
                background-color: rgba($item-9, $color-opacity);
                color: mix($item-9, $darkest);
                border-color: mix($item-9, $dark);
              }
            }
          }
          .mask-item {
            background: $light;
          }
        }
      }
      .border-content {
        border: 2px solid $grayest;
      }
    }
  }
}