@import './color-content.scss';

.color-default {
  $light: #eeeeee;
  $lighter: #f0f0f0;
  $lightest: #ffffff;
  $light-special-1: #f3f3f3;
  $light-special-2: #f5f5f5;
  $dark: #555555;
  $darker: #333333;
  $darkest: #000000;
  $blue: #3880ff;
  $red: #be1919;
  $gray: #999999;
  $grayer: #b8b8b8;
  $grayest: #cccccc;
  $item-1: #9BF6FF;
  $item-2: #FDFFB6;
  $item-3: #CAFFBF;
  $item-4: #ffd3d3;
  $item-5: #A0C4FF;
  $item-6: #BDB2FF;
  $item-7: #FFD6A5;
  $item-8: #FFC6FF;
  $item-9: #dddddd;

  @include theme($light,
    $lighter,
    $lightest,
    $light-special-1,
    $light-special-2,
    $dark,
    $darker,
    $darkest,
    $blue,
    $red,
    $gray,
    $grayer,
    $grayest,
    $item-1,
    $item-2,
    $item-3,
    $item-4,
    $item-5,
    $item-6,
    $item-7,
    $item-8,
    $item-9,
  )
}