@import './color-content.scss';

.color-default {
  $light: #eeeeee;
  $lighter: #f0f0f0;
  $lightest: #ffffff;
  $light-special-1: #f3f3f3;
  $light-special-2: #f5f5f5;
  $dark: #555555;
  $darker: #333333;
  $darkest: #000000;
  $blue: #3880ff;
  $red: #be1919;
  $gray: #999999;
  $grayer: #b8b8b8;
  $grayest: #cccccc;
  $item-1: #9BF6FF;
  $item-2: #FDFFB6;
  $item-3: #CAFFBF;
  $item-4: #ffd3d3;
  $item-5: #aecdff;
  $item-6: #c3b8ff;
  $item-7: #FFD6A5;
  $item-8: #FFC6FF;
  $item-9: #dddddd;
  $item-10: #ccfbff;
  $item-11: #feffdd;
  $item-12: #e2ffdc;
  $item-13: #ffe7e7;
  $item-14: #d6e6ff;
  $item-15: #e2ddff;
  $item-16: #ffecd5;
  $item-17: #ffe0ff;
  $item-18: #f0f0f0;
  $menu-item-0: #999999;
  $menu-item-1: #0e96cc;
  $menu-item-2: #8bc307;
  $menu-item-3: #0abe40;
  $menu-item-4: #d411d4;
  $menu-item-5: #135ed6;
  $menu-item-6: #3113da;
  $menu-item-7: #db7f0e;
  $menu-item-8: #cc1111;

  @include theme($light,
    $lighter,
    $lightest,
    $light-special-1,
    $light-special-2,
    $dark,
    $darker,
    $darkest,
    $blue,
    $red,
    $gray,
    $grayer,
    $grayest,
    $item-1,
    $item-2,
    $item-3,
    $item-4,
    $item-5,
    $item-6,
    $item-7,
    $item-8,
    $item-9,
    $item-10,
    $item-11,
    $item-12,
    $item-13,
    $item-14,
    $item-15,
    $item-16,
    $item-17,
    $item-18,
    $menu-item-0,
    $menu-item-1,
    $menu-item-2,
    $menu-item-3,
    $menu-item-4,
    $menu-item-5,
    $menu-item-6,
    $menu-item-7,
    $menu-item-8,
  )
}