<nw-con-pop title="Pause"
            [isBlack]="true"
            popSize="lg"
            (hidePop)="hidePop()">
  <div class="text-center">
    <div class="hard-star pt-4 d-flex justify-content-between align-items-center">
      <div class="w-100 text-center">Continue or go to menu?</div>
    </div>
    <nw-ui-btn class="pt-15 mb-10"
               (btnClick)="hidePop()"
               [btnText]="'Continue'"></nw-ui-btn>
    <nw-ui-btn (btnClick)="gotoMenu()"
               [btnText]="'Menu'"></nw-ui-btn>
  </div>
</nw-con-pop>