<nw-con-menu [gameName]="'guess.name' | translate"
  [color]="menuColor">
  <nw-ui-menu-item class="{{guessData.continue ? 'grid-col-2' : 'grid-col-5'}}"
    [btnText]="'common.newGame' | translate"
    [color]="menuColor"
    (click)="gotoPage(GuessPageEnum.Play, true)"></nw-ui-menu-item>
  <nw-ui-menu-item grid-col-3
    *ngIf="guessData.continue"
    [btnText]="'common.continue' | translate"
    [color]="menuColor"
    (click)="gotoPage(GuessPageEnum.Play)"></nw-ui-menu-item>
  <nw-ui-menu-item grid-col-3
    [btnText]="'common.settings' | translate"
    [color]="menuColor"
    (click)="gotoPage(GuessPageEnum.Settings)"></nw-ui-menu-item>
  <nw-ui-menu-item [btnText]="'common.help' | translate"
    [color]="menuColor"
    (click)="gotoPage(GuessPageEnum.Help)"></nw-ui-menu-item>
</nw-con-menu>