.slide-play {

  .gs-content {
    padding: 0 5vw;
    .game-header {
      padding: 0 5vw;
      width: 100%;
      height: 5vh;
      font-size: 2vh;
      flex-grow: 1;

      .hard-mode {
        min-width: 25%;
        text-align: left;
      }
      .time {
        min-width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }

      .star-item {
        margin-right: 2px;
        transition: all .5s;
        font-size: 2vh;
      }
    }
  }
  .shift-content {
    $shiftWidth: 90vw;
    $itemWidth: 18vw;
    border: 1px solid #ddd;

    position: relative;
    width: $shiftWidth;
    height: $shiftWidth;
    overflow: hidden;
    .num-content {
      position: absolute;
      left: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2);
      top: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2);
      width: $itemWidth * 4;
      height: $itemWidth * 4;
      .item-content {
        position: absolute;
        left: $itemWidth * -4;
        top: $itemWidth * -4;
        width: $itemWidth * 12;
        height: $itemWidth * 12;

        .slide-item {
          width: $itemWidth;
          height: $itemWidth;
          padding: 1vw;
          display: block;
          position: absolute;
          transition: all .3s;
          &.in-not-content {
            .slide-item-box {
              border: 1px solid #999;
              span {
                opacity: 0.5;
              }
            }
          }
          .slide-item-box {
            width: 100%;
            height: 100%;
            border: 1px solid #666;
            border-radius: 1vw;
            font-size: $itemWidth / 2.5;
          }

          @for $i from 1 through 20 {
            &.s-x-#{$i} {
              left: ($i - 1) * $itemWidth;
            }
          }
          @for $i from 1 through 20 {
            &.s-y-#{$i} {
              top: ($i - 1) * $itemWidth;
            }
          }
        }
        .mask-item {
          position: absolute;
          width: $itemWidth;
          height: $itemWidth;
          background: #eee;
          &.mask-item-1 {
            left: calc(#{$itemWidth} * 3);
            top: calc(#{$itemWidth} * 3);
          }
          &.mask-item-2 {
            left: calc(#{$itemWidth} * 8);
            top: calc(#{$itemWidth} * 3);
          }
          &.mask-item-3 {
            left: calc(#{$itemWidth} * 3);
            top: calc(#{$itemWidth} * 8);
          }
          &.mask-item-4 {
            left: calc(#{$itemWidth} * 8);
            top: calc(#{$itemWidth} * 8);
          }
        }
      }
    }
    .border-content {
      position: absolute;
      left: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2 - 1px);
      top: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2 - 1px);
      width: calc(#{$itemWidth} * 4 + 2px);
      height: calc(#{$itemWidth} * 4 + 2px);
      border: 2px solid #ccc;
      border-radius: 1vw;
      user-select: none;
    }
  }
}