<div class="slide-play text-center w-100">
  <nw-ui-game-header [isBackShow]="true"
                     (clickBack)="d.gotoSlideHome()"
                     [headerTitle]="'slide.name' | translate"></nw-ui-game-header>
  <div class="gs-content">
    <div class="game-header d-flex justify-content-between align-items-center mb-5">
      <div class="slide-score">
        Score: {{slideData.slideScore}}
      </div>
      <div class="times">
        Times: {{slideData.slideTimes}}
      </div>
      <!-- <div class="star-con flex-center">
        <i class="nwicon nwi-star-full star-item color-red"></i>x{{slideData.star}}
      </div> -->
      <div class="time" (click)="clickPlayOrPauseBtn()">
        {{slideShowData.showTime}} <i class="nwicon nwi-pause pl-2"></i>
      </div>

    </div>
    <div class="shift-content">
      <div class="num-content">
        <div class="item-content d-flex flex-wrap">
          <div class="slide-item s-{{item.pos.x}}-{{item.pos.y}}"
               [class.in-not-content]="!item.isInContent"
               [class.is-destroying]="item.isDestroying"
               *ngFor="let item of slideData.items">
            <div class="slide-item-box slide-item-{{item.number}}">
              <div class="item-label flex-center">{{item.name}}</div>
            </div>
          </div>
          <div class="mask-item mask-item-1"></div>
          <div class="mask-item mask-item-2"></div>
          <div class="mask-item mask-item-3"></div>
          <div class="mask-item mask-item-4"></div>
        </div>
      </div>
      <div class="border-content"
           (swipeleft)="swipeLeft()"
           (swiperight)="swipeRight()"
           (swipeup)="swipeUp()"
           (swipedown)="swipeDown()">
        <div class="border-content-mask mask-top"></div>
        <div class="border-content-mask mask-middle-left"></div>
        <div class="border-content-mask mask-middle-right"></div>
        <div class="border-content-mask mask-bottom"></div>
      </div>
    </div>

  </div>
</div>
<nw-slide-pop-pause *ngIf="slideShowData.pop.pause"></nw-slide-pop-pause>