.slide-play {

  .gs-content {
    padding: 0 5vw;
    .game-header {
      width: 100%;
      height: 5vh;
      font-size: 2vh;
      flex-grow: 1;

      .time {
        min-width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }

      .star-item {
        margin-right: 2px;
        backface-visibility: hidden;
        transition: all .5s linear;
        font-size: 2vh;
      }
    }
  }
  .shift-content {
    $shiftWidth: 96vw;
    $itemWidth: 15vw;

    margin-left: calc(-0.5 * (#{$shiftWidth} - 90vw));
    position: relative;
    width: $shiftWidth;
    height: $shiftWidth;
    border-radius: 2vw;
    overflow: hidden;
    .canvas-content {
      width: 100%;
      height: 100%;
      .slide-shift-content {
        width: 100%;
        height: 100%;
        ::ng-deep {
          canvas {
            width: 100%;
            height: 100%;
            // width: 120%;
            // height: 231.9587628865979%;
            // margin-left: -65.97938144329897%;
            // margin-top: -65.97938144329897%;
            // width: 231.9587628865979%;
            // height: 231.9587628865979%;
            // margin-left: -65.97938144329897%;
            // margin-top: -65.97938144329897%;
          }

        }
      }
      canvas {
        width: 231.9587628865979%;
        height: 231.9587628865979%;
        margin-left: -65.97938144329897%;
        margin-top: -65.97938144329897%;
      }
    }
    .num-content {
      position: absolute;
      left: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2);
      top: calc((#{$shiftWidth} - #{$itemWidth} * 4) / 2);
      width: $itemWidth * 4;
      height: $itemWidth * 4;
      .item-content {
        position: absolute;
        left: $itemWidth * -5;
        top: $itemWidth * -5;
        width: $itemWidth * 14;
        height: $itemWidth * 14;

        .slide-item {
          width: $itemWidth;
          height: $itemWidth;
          padding: 1vw;
          display: block;
          position: absolute;
          backface-visibility: hidden;
          transition: all .25s linear;
          box-sizing: border-box;
          &.in-not-content {
            .slide-item-box {
              .item-label {
                opacity: 0.5;
              }
            }
          }
          &.is-destroying {
            opacity: 0;
            // transform: scale(0);
            // animation: destroyItem 0.3s linear 1;
          }
          .slide-item-box {
            width: 100%;
            height: 100%;
            border-radius: 1vw;
            font-size: $itemWidth / 2.5;
            backface-visibility: hidden;
            transition: all .2s linear;
            .item-label {
              backface-visibility: hidden;
              transition: all .2s linear;
              width: 100%;
              height: 100%;
              font-weight: normal;
            }
          }

          @for $x from 1 through 20 {
            @for $y from 1 through 20 {
              &.s-#{$x}-#{$y} {
                transform: translate(($x - 1) * $itemWidth, ($y - 1) * $itemWidth);
              }
            }
          }

          //   &.s-6-5,
          //   &.s-7-5,
          //   &.s-8-5,
          //   &.s-9-5 {
          //     .slide-item-box {
          //       font-size: $itemWidth / 3;
          //       .item-label {
          //         margin-top: 45%;
          //         height: 50%;
          //       }
          //     }
          //   }
          //   &.s-6-10,
          //   &.s-7-10,
          //   &.s-8-10,
          //   &.s-9-10 {
          //     .slide-item-box {
          //       font-size: $itemWidth / 3;
          //       .item-label {
          //         margin-top: 5%;
          //         height: 50%;
          //       }
          //     }
          //   }
          //   &.s-5-6,
          //   &.s-5-7,
          //   &.s-5-8,
          //   &.s-5-9 {
          //     .slide-item-box {
          //       font-size: $itemWidth / 3;
          //       .item-label {
          //         margin-left: 45%;
          //         width: 50%;
          //       }
          //     }
          //   }
          //   &.s-10-6,
          //   &.s-10-7,
          //   &.s-10-8,
          //   &.s-10-9 {
          //     .slide-item-box {
          //       font-size: $itemWidth / 3;
          //       .item-label {
          //         margin-left: 5%;
          //         width: 50%;
          //       }
          //     }
          //   }
        }
        .mask-item {
          position: absolute;
          display: none;
          width: $itemWidth;
          height: $itemWidth;
          &.mask-item-1 {
            left: calc(#{$itemWidth} * 4);
            top: calc(#{$itemWidth} * 4);
          }
          &.mask-item-2 {
            left: calc(#{$itemWidth} * 9);
            top: calc(#{$itemWidth} * 4);
          }
          &.mask-item-3 {
            left: calc(#{$itemWidth} * 4);
            top: calc(#{$itemWidth} * 9);
          }
          &.mask-item-4 {
            left: calc(#{$itemWidth} * 9);
            top: calc(#{$itemWidth} * 9);
          }
        }
      }
    }
    .border-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 1vw;
      // overflow: hidden;
      user-select: none;
      background-color: rgba($color: #000000, $alpha: 0.01);
      background-image: url('/assets/images/slide/slide-mask.png');
      background-size: 100% 100%;
      opacity: .3;
    }
  }
}

@keyframes destroyItem {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}