<div class="slide-play text-center w-100">
  <nw-ui-game-header [isBackShow]="true"
    (clickBack)="d.gotoSlideHome()"
    [headerTitle]="'slide.name' | translate"></nw-ui-game-header>
  <div class="gs-content">
    <div class="game-header d-flex justify-content-between align-items-center mb-5">
      <div class="slide-score">
        {{ 'common.score' | translate}}: {{slideData.slideScore}}
      </div>
      <div class="times">
        {{ 'common.times' | translate}}: {{slideData.slideTimes}}
      </div>
      <!-- <div class="star-con flex-center">
        <i class="nwicon nwi-star-full star-item color-red"></i>x{{slideData.star}}
      </div> -->
      <div class="time"
        (click)="clickPlayOrPauseBtn()">
        {{slideShowData.showTime}} <i class="nwicon nwi-pause pl-2"></i>
      </div>

    </div>
    <div class="shift-content">
      <div class="canvas-content">
        <div class="slide-shift-content"
          #slideContentCanvas>

        </div>
        <!-- <canvas id="slide-shift-content-canvas"
          #slideShiftContentCanvas
          [width]="canvasWidth"
          [height]="canvasWidth"></canvas> -->
        <!-- <canvas id="slide-shift-content-canvas"
          #slideShiftContentCanvas
          width="2250"
          height="2250"></canvas> -->
      </div>
      <div class="border-content"
        (swipeleft)="swipeLeft()"
        (swiperight)="swipeRight()"
        (swipeup)="swipeUp()"
        (swipedown)="swipeDown()">
      </div>
    </div>

  </div>
</div>
<nw-slide-pop-pause *ngIf="slideShowData.pop.pause"></nw-slide-pop-pause>