<div class="pt-5 game-content">
  <div class="text-center w-100">
    <nw-ui-game-header [isBackShow]="true"
      (clickBack)="backToHome()"
      [headerTitle]="'settings.name' | translate"></nw-ui-game-header>
    <div class="px-5 pt-5 flex-center">
      <div class="flex-center flex-wrap">
        <nw-ui-btn *ngFor="let lan of allLangs"
          class="my-3"
          (click)="chooseLang(lan)"
          [isHighlight]="translate.currentLang === lan.lang"
          [btnText]="lan.text"></nw-ui-btn>
      </div>
    </div>
  </div>
</div>