:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(14, 160, 204);
  color: #fff;
  font-size: 6vw;
  grid-column: span 2;
}
div {
  padding: 2vw;
  text-align: center;
}